/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    font-family: Arial, sans-serif;
    background-color: #fff8f2;
    color: #333;
    line-height: 1.6;
}

/*NAVIGATION*/
nav {
    background-color: #8b0000;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: gold;
}

/*LOGO*/
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 150px;
}

/*HEADER*/
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #8b0000;
    font-size: 32px;
}

/*MAIN CONTAINER */
main {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*TEXT*/
h2 {
    color: #b22222;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

/*FORM STYLING*/
form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #444;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

textarea {
    resize: vertical;
}

/*BUTTON*/
button {
    margin-top: 15px;
    background-color: #8b0000;

}
/*RESPONSIVE DESIGN*/

/* Tablets */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    nav a {
        font-size: 16px;
    }

    main {
        width: 95%;
        padding: 20px;
    }
}

/* Phones */
@media (max-width: 480px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 8px 0;
    }

    header h1 {
        font-size: 20px;
    }

    button {
        font-size: 15px;
    }
}